.header {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
}

.logo {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}